@media all and (min-width: 992px) {
  .container-fluid
  {
      display:table;
      width: 100%;
      margin-top: -50px;
      padding: 50px 0 0 0; /*set left/right padding according to needs*/
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .navbar-form{
    float: none !important;
  }
  .container-fluid > .row
  {
      height: 100%;
      display: table-row;
  }
  .container-fluid > .row > .col-md-6
  {
      display: table-cell;
      float: none; /* thanks baxxabit */
      vertical-align: top;
  }

  #data-col {
      border-right: 1px solid grey;
  }

}
@media all and (min-width: 992px) {

}

.auto-options {
  padding-left: 10px;
}

.options.row{
  display: table-row;
}
.options.row > .col-md-6{
  display: table-cell;
  float: none;
  vertical-align: top;
}

.message textarea {
    width: 100%;
    height: 150px;
}
.actions-col {
    text-align: right;
}
#footer {
    bottom: 0;
    position: absolute;
    height: 100px;
    background-color: #003366;
    width: 100%;
}
#footer > .logo {
    padding: 10px;
    float: left;
}
#header {
    height: 100px;
    background-color: #003366;
    width: 100%;
}
#header > .logo {
    padding: 10px;
    float: left;
}
.container-fluid {
    padding: 0 35px;
}
.row {
    margin-right: 10px;
}
.condition-value-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0;
}
.condition-value-row .or-col {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    color: #6b6b6b;
    font-size: 12px;
}
.condition-value-row .actions-col {
    padding-left: 10px;
    min-width: 44px;
}
.add_field_button, .condition .remove_field_button {
    width: 20px;
    height: 20px;
    border: none;
}
.remove_field_button {
    width: 20px;
    height: 20px;
    border: none;
}
.add_field_button {
    background: url("https://www.optimizely.com/static/img/add_button.png");
}
.remove_field_button {
    background: url("https://www.optimizely.com/static/img/delete_button.png");
}
#header > .marquee {
    width: 100%;
    float: right;
    overflow: hidden;
    margin-left: 100px;
    position: absolute;
    height: 100px;
    color: white;
    font-size: 65px;
}
#header > .left {
    float: left;
    margin-left: 40px;
    height: 100px;
    color: white;
    font-size: 65px;
}
#header > .right {
    float: right;
    margin-right: 40px;
    height: 100px;
    color: white;
    font-size: 65px;
}
#experiments-running {
    padding-left: 20px;
}
#big-num-experiments {
    font-weight: bold;
    font-size: 96px;
    float:left;
}
#experiments-running-text {
    font-size: 41px;
    line-height: 35px;
    float: left;
    padding-top: 34px;
    padding-left: 6px;
}
.badge{
  position: relative;
  top: -16px;
}
.status.Running{
  color: green;
}
.status.Paused{
  color: #999900;
}
.status.Not.started{
  color: orange;
}
.status.Archived{
  color: red;
}
.options {
  border-bottom: solid 1px;
  padding: 10px 20px;

}
.clear{
  clear: both;
}
.select-options {
  float: left;
}
.other-options {
  float: right;
}
.select-options > a {
  cursor: pointer;
}
